<div class="flex mb-4">
  <span class="flex items-center">
    <img class="lg:w-7/6 mx-2 lg:h-4 h-12" src="../../../img/payment-method/5.jpg">
    <img class="lg:w-7/6 mx-2 lg:h-4 h-12" src="../../../img/payment-method/4.jpg">
    <img class="lg:w-7/6 mx-2 lg:h-4 h-12" src="../../../img/payment-method/3.jpg">
    <img class="lg:w-7/6 mx-2 lg:h-4 h-12" src="../../../img/payment-method/payu.jpg">
    <img class="lg:w-7/6 mx-2 lg:h-4 h-12" src="../../../img/payment-method/paypal.jpg">
  </span>

</div>
