<section class="text-gray-600 body-font">
  <div class="container px-5 py-24 mx-auto">
    <div class="flex flex-wrap w-full mb-20">
      <div class="lg:w-2/2 w-full mb-6 lg:mb-0">
        <h1 class="sm:text-3xl text-2xl font-medium title-font mb-2 text-gray-900">ST&S - ¿QUIENES SOMOS?</h1>
        <div class="h-1 w-20 bg-indigo-500 rounded"></div>
      </div>
      <p class="lg:w-1/2 w-full leading-relaxed text-gray-500">
        ▸+5 AÑOS EN EL MERCADO ▸ESPECIALIZADOS EN SEGURIDAD ELECTRÓNICA ▸+ 2000 DISPOSITIVOS GPS EN SERVICIO ▸+ CLIENTES (MENSAJERIA – TRANSPORTE - LOGISTICA) ▸+ 100 MODELOS GPS HOMOLOGADOS ▸SERVICIO TÉCNICO ▸CUBRIMIENTO GPS EN TODO EL PAÍS.</p>
    </div>
    <div class="flex flex-wrap -m-4">
      <div class="xl:w-1/4 md:w-1/2 p-4">
        <div class="bg-gray-100 p-6 rounded-lg">
          <img class="h-30 rounded w-full object-cover object-center mb-6" src="../../../img/products/Servicios/servicio_1.jpeg" alt="content">
          <h3 class="tracking-widest text-indigo-500 text-xs font-medium title-font">Sensor de temperatura</h3>
          <h2 class="text-lg text-gray-900 font-medium title-font mb-4">Nivel Nacional</h2>
          <p class="leading-relaxed text-base">Realizamos monitoreo en tiempo real las 24 horas.</p>
        </div>
      </div>
      <div class="xl:w-1/4 md:w-1/2 p-4">
        <div class="bg-gray-100 p-6 rounded-lg">
          <img class="h-30 rounded w-full object-cover object-center mb-6" src="../../../img/products/Servicios/servicio_2.jpeg" alt="content">
          <h3 class="tracking-widest text-indigo-500 text-xs font-medium title-font">Informe de recorridos</h3>
          <h2 class="text-lg text-gray-900 font-medium title-font mb-4">Nivel Nacional</h2>
          <p class="leading-relaxed text-base">La realizacion de informes detallada de los recorridos de su vehucilo</p>
        </div>
      </div>
      <div class="xl:w-1/4 md:w-1/2 p-4">
        <div class="bg-gray-100 p-6 rounded-lg">
          <img class="h-30rounded w-full object-cover object-center mb-6" src="../../../img/products/Servicios/servicio_3.jpeg" alt="content">
          <h3 class="tracking-widest text-indigo-500 text-xs font-medium title-font">Identificador de conductores</h3>
          <h2 class="text-lg text-gray-900 font-medium title-font mb-4">Nivel Nacional</h2>
          <p class="leading-relaxed text-base">Este servicio nos ayuda para la identificacion de los conductores en cada unpo de nuestros vehiculos</p>
        </div>
      </div>
      <div class="xl:w-1/4 md:w-1/2 p-4">
        <div class="bg-gray-100 p-6 rounded-lg">
          <img class="h-30 rounded w-full object-cover object-center mb-6" src="../../../img/products/Servicios/servicio_4.jpeg" alt="content">
          <h3 class="tracking-widest text-indigo-500 text-xs font-medium title-font">Lectura CAN OBD</h3>
          <h2 class="text-lg text-gray-900 font-medium title-font mb-4">Nivel Nacionalo</h2>
          <p class="leading-relaxed text-base">Este servicio nos ayuda para tener un informe detallado del funcionamiento de nuestro vehiculo</p>
        </div>
      </div>
      <div class="xl:w-1/4 md:w-1/2 p-4">
        <div class="bg-gray-100 p-6 rounded-lg">
          <img class="h-30 rounded w-full object-cover object-center mb-6" src="../../../img/products/Servicios/servicio_5.jpeg" alt="content">
          <h3 class="tracking-widest text-indigo-500 text-xs font-medium title-font">Seguimiento a Personas</h3>
          <h2 class="text-lg text-gray-900 font-medium title-font mb-4">Nivel Nacional</h2>
          <p class="leading-relaxed text-base">Este servicio es es un plus al momento de localizar a nuestros empleados</p>
        </div>
      </div>
    </div>
  </div>
</section>
